body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif;
    padding: 0;
    margin: 0;
}
.bd{
    margin: 0 auto;
    text-align: center;
}
h1 {
    text-align: center;
}

table{
    text-align: center;
    font-weight: bold;
}

p{
    text-indent: 20px;
}

h3{
    background-color: #b8e7ff;
    color: white;
    line-height: 30px;
    padding-left:10px;
}

.tp {
    text-align: center;
    margin: 0 auto;
}


.container {
    width: 800px;
    margin: 0 auto;
    padding: 10px 20px;
    background-image: url("55.jpg")
}
